{
	"store_config": {
		"worker_id": 1,
		"uid_key": "$UID_ENCRYPTION_KEY",
		"use_adapter": "$TARGET_DB",
		"adapters": {
			"mysql": {
				"database": "tinode",
				"dsn": "root@tcp($MYSQL_PORT_3306_TCP_ADDR:$MYSQL_PORT_3306_TCP_PORT)/tinode?parseTime=true"
			},
			"rethinkdb": {
				"database": "tinode",
				"addresses": "$RETHINKDB_PORT_28015_TCP_ADDR:$RETHINKDB_PORT_28015_TCP_PORT"			
			}
		}
	}
}
