{
	"store_config": {
		"uid_key": "$UID_ENCRYPTION_KEY",
		"use_adapter": "$TARGET_DB",
		"adapters": {
			"mysql": {
				"database": "tinode",
				"dsn": "root@tcp(mysql)/?parseTime=true"
			},
			"rethinkdb": {
				"database": "tinode",
				"addresses": "rethinkdb"			
			}
		}
	}
}
