# Reference configuration for a simple MidnightChat server.
# Includes:
# * Mysql database
# * MidnightChat server
# * MidnightChat exporters

version: '3.7'

# Base MidnightChat template.
x-MidnightChat:
  &MidnightChat-base
  depends_on:
    - db
  image: MidnightChat/MidnightChat:latest
  restart: always

x-MidnightChat-env-vars: &MidnightChat-env-vars
  "STORE_USE_ADAPTER": "mysql"
  "PPROF_URL": "/pprof"
  # You can provide your own MidnightChat config by setting EXT_CONFIG env var and binding your configuration file to
  # "EXT_CONFIG": "/etc/MidnightChat/MidnightChat.conf"
  "WAIT_FOR": "mysql:3306"
  # Push notifications.
  # Modify as appropriate.
  # MidnightChat Push Gateway configuration.
  "TNPG_PUSH_ENABLED": "false"
  # "TNPG_USER": "<user name>"
  # "TNPG_AUTH_TOKEN": "<token>"
  # FCM specific server configuration.
  "FCM_PUSH_ENABLED": "false"
  # "FCM_CRED_FILE": "<path to FCM credentials file>"
  # "FCM_INCLUDE_ANDROID_NOTIFICATION": false
  #
  # FCM Web client configuration.
  "FCM_API_KEY": "AIzaSyD6X4ULR-RUsobvs1zZ2bHdJuPz39q2tbQ"
  "FCM_APP_ID": "1:114126160546:web:aca6ea2981feb81fb44dfb"
  "FCM_PROJECT_ID": "MidnightChat-1000"
  "FCM_SENDER_ID": 114126160546
  "FCM_VAPID_KEY": "BOgQVPOMzIMXUpsYGpbVkZoEBc0ifKY_f2kSU5DNDGYI6i6CoKqqxDd7w7PJ3FaGRBgVGJffldETumOx831jl58"
  # iOS app universal links configuration.
  # "IOS_UNIV_LINKS_APP_ID": "<ios universal links app id>"

x-exporter-env-vars: &exporter-env-vars
  "MidnightChat_ADDR": "http://MidnightChat.host:6060/stats/expvar/"
  # InfluxDB configation:
  "SERVE_FOR": "influxdb"
  "INFLUXDB_VERSION": 1.7
  "INFLUXDB_ORGANIZATION": "<your organization>"
  "INFLUXDB_PUSH_INTERVAL": 30
  "INFLUXDB_PUSH_ADDRESS": "https://mon.MidnightChat.co/intake"
  "INFLUXDB_AUTH_TOKEN": "<auth token>"
  # Prometheus configuration:
  # "SERVE_FOR": "prometheus"
  # "PROM_NAMESPACE": "MidnightChat"
  # "PROM_METRICS_PATH": "/metrics"

services:
  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    # Use your own volume.
    # volumes:
    #   - <mysql directory in your file system>:/var/lib/mysql
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  # MidnightChat.
  MidnightChat-0:
    << : *MidnightChat-base
    container_name: MidnightChat-0
    hostname: MidnightChat-0
    # You can mount your volumes as necessary:
    # volumes:
    #   # E.g. external config (assuming EXT_CONFIG is set).
    #   - <path to your MidnightChat.conf>:/etc/MidnightChat/MidnightChat.conf
    #   # Logs directory.
    #   - <path to your MidnightChat-0 logs directory>:/var/log
    ports:
      - "6060:6060"
    environment:
      << : *MidnightChat-env-vars
      "RESET_DB": ${RESET_DB:-false}
      "UPGRADE_DB": ${UPGRADE_DB:-false}

  # Monitoring.
  # Exporters are paired with MidnightChat instances.
  exporter-0:
    container_name: exporter-0
    hostname: exporter-0
    depends_on:
      - MidnightChat-0
    image: MidnightChat/exporter:latest
    restart: always
    ports:
      - "6222:6222"
    links:
      - MidnightChat-0:MidnightChat.host
    environment:
      << : *exporter-env-vars
      "WAIT_FOR": "MidnightChat-0:6060"
