<html>
<body>

<p>Hello.</p>

<p>You're receiving this message because someone used your email to register at
<a href="{{.HostUrl}}">Tinode</a>.</p>

<p><a href="{{.HostUrl}}#cred?method=email&code={{.Code}}&token={{.Token}}">Click</a> to confirm
or go to
<a href="{{.HostUrl}}#cred?what=email">{{.HostUrl}}#cred?method=email</a>
and enter the following code:</p>
<blockquote>{{.Code}}</blockquote>
<p>You may need to enter login and password.</p>

<p>If you did not register at Tinode just ignore this message.</p>

<p><a href="https://tinode.co/">Tinode Team</a></p>

</body>
</html>
