<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>

<p>Hello.</p>

<p>You're receiving this message because someone used your email to register at Tinode.</p> 

<p><a href="https://api.tinode.co/x/example-react-js/#validate/email/code={{.Code}}">Click</a> to confirm 
or enter the following code</p>
<blockquote><tt>{{.Code}}</tt><blockquote>
<p>at <a href="https://api.tinode.co/x/example-react-js/#validate/email">https://api.tinode.co/x/example-react-js/#validate/email</a>.</p> 

<p>If you did not register at Tinode just ignore this message.</p>

</body>

</html>