<html>
<body>

<p>Hello.</p>

<p>You recently requested to reset the password for your <a href="{{.HostUrl}}">Tinode</a> account. 
Use the link below to reset it. This password reset is only valid for the next 24 hours.</p> 

<blockquote><a href="{{.HostUrl}}#recover?scheme={{.Scheme}}&token={{.Token}}">Click</a> to reset your password.</blockquote> 

<p>If you’re having trouble with the link above, copy and paste the URL below into your web browser.</p>
<blockquote>
<a href="{{.HostUrl}}#recover?scheme={{.Scheme}}&token={{.Token}}">{{.HostUrl}}#recover?scheme={{.Scheme}}&token={{.Token}}</a>
</blockquote>

<p>If you did not request a password reset, please ignore this message.</p>

<p><a href="https://github.com/tinode/chat">Tinode</a></p>

</body>
</html>