{{/*
  INDONESIAN

  This template defines contents of the password reset email.

  See explanation in ./email-validation-en.templ
*/}}


{{define "subject" -}}
Atur ulang kata sandi Tinode
{{- end}}

{{define "body_html" -}}
<html>
<body>

<p>Halo.</p>

<p>Anda baru saja meminta pengaturan ulang kata sandi untuk akun <a href="{{.HostUrl}}">Tinode</a> Anda.
Gunakan tautan atau kode di bawah ini untuk mengatur ulang kata sandi. Tautan dan kode tersebut hanya berlaku selama 24 jam ke depan.</p>

<blockquote><a href="{{.HostUrl}}#reset?scheme={{.Scheme}}&code={{.Code}}&cred={{.Cred}}">Klik</a> untuk mengatur ulang kata sandi Anda.</blockquote>

<p>Jika Anda mengalami masalah dengan tautan di atas, salin dan tempel URL di bawah ini ke browser Anda:</p>
<blockquote>
<a href="{{.HostUrl}}#reset?scheme={{.Scheme}}&code={{.Code}}&cred={{.Cred}}">{{.HostUrl}}#reset?scheme={{.Scheme}}&code={{.Code}}&cred={{.Cred}}</a>
</blockquote>

<p>Masukkan kode berikut jika diminta:</p>
<blockquote><big>{{.Code}}</big></blockquote>

{{with .Login}}
<p>Jika Anda lupa, berikut nama pengguna Anda: {{.}}.</p>
{{end}}

<p>Jika Anda tidak meminta pengaturan ulang kata sandi, abaikan pesan ini.</p>

<p><a href="https://tinode.co/">Tim Tinode</a></p>

</body>
</html>
{{- end}}

{{define "body_plain" -}}

Halo.

Anda baru saja meminta pengaturan ulang kata sandi untuk akun Tinode Anda ({{.HostUrl}}).
Gunakan tautan atau kode di bawah ini untuk mengatur ulang kata sandi. Tautan dan kode tersebut hanya berlaku selama 24 jam ke depan.

   {{.HostUrl}}#reset?scheme={{.Scheme}}&code={{.Code}}&cred={{.Cred}}

Jika Anda mengalami masalah saat membuka tautan di atas, salin dan tempel tautan tersebut ke browser Anda.

Masukkan kode berikut jika diminta:
   {{.Code}}

{{- with .Login}}
Jika Anda lupa, berikut nama pengguna Anda: {{.}}.
{{end -}}

Jika Anda tidak meminta pengaturan ulang kata sandi, abaikan pesan ini.

Tim Tinode
https://tinode.co/

{{- end}}
